@import "theme/theme_variables"; 



.expo-blue {
    color: $expo-blue !important;
}

.expo-dark {
    color: $expo-dark !important;
}

.expo-lightblue {
    color: $expo-lightblue !important;
}

.expo-green {
    color: $expo-green !important;
}

.expo-yellow {
    color: $expo-yellow !important;
}

.expo-blue-bg {
    background: $expo-blue !important;
}

.expo-dark-bg {
    background: $expo-dark !important;
}

.expo-lightblue-bg {
    background: $expo-lightblue !important;
}

.expo-green-bg {
    background: $expo-green !important;
}

.expo-yellow-bg {
    background: $expo-yellow !important;
}

.fw200 {
    font-weight: 200 !important;
}

.fw300 {
    font-weight: 300 !important;
}
.fw500 {
    font-weight: 500 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.fw800 {
    font-weight: 800 !important;
}

.fw900 {
    font-weight: 900 !important;
}