.form-wrapper {
    margin: 0 auto;
    position: relative;
    background-color: $gray-100;
    .form-row {
        .content-area {
            max-width: 800px;
            label {
                &.wsf-label {
                    font-size: 1rem !important;
                    font-weight: 600 !important;
                    color: $expo-blue;
                }
            }
            
            .wsf-section {
                margin-bottom: $spacing-lg;
                &.no-padding-border{ 
                    .wsf-grid {
                        background: none;
                        padding: 0;
                        border: 0;
                        .wsf-tile {
                            padding: 0;
                        }
                    }
                }
                &.ag-stall-packages{ 
                    .wsf-grid {
                        background: $white;
                        padding: 0;
                        border: 0;
                        &:first-of-type {
                            margin-right: $spacing;
                        }
                        .wsf-tile {
                            background: $white;
                            padding: $spacing-md $spacing-lg $spacing;
                            position: relative;
                            &.ag-package-radio {
                                background: $expo-yellow;
                                margin-bottom: 0;
                                .wsf-label {
                                    font-size: 1.3rem !important;
                                    line-height: 1.3rem;
                                }
                            }
                            &.ag-package-title {
                                min-height: 240px;
                            }
                            &:after {
                                position: absolute;
                                background-image: url("../img/ag-geometric-long.svg");
                                background-size: cover;
                                height: $spacing-sm;
                                bottom: -10px;
                            }
                        }
                    }
                }
                .wsf-grid {
                    background: $white;
                    padding: $spacing-lg $spacing-md $spacing $spacing-md;
                    border: 3px solid $gray-300;
                    border-radius: $spacing-xs;
                }
                legend {
                    font-size: 1.5rem !important;
                    font-weight: 600 !important;
                    color: $expo-dark;
                }
            }
        }
    }
}

