@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;600;700;800;900&display=swap');

body {
    font-family: $body-font;
}

h1 {
	@include media-breakpoint-down(xs) {
		font-size: 32px;
    }
}

h2 {
	@include media-breakpoint-down(xs) {
		font-size: 24px;
	}
}

h3 {
	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}
}

a {
    font-weight: bold;
}

.btn-primary {
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: $expo-dark;
    background-color: $expo-yellow !important;
    border-color: $expo-yellow !important;
}


.home {
    #wrapper-navbar{
        margin-bottom: 0;
    }
    .wrapper {
        padding: 0;
        .content-area {
            padding: 60px $spacing-lg;
            .home-type-block {
                padding: $spacing-md;
                border: 5px solid $gray-300;
            }
        }
    }
    .expo-sectors {
        .ag-section-title {
            padding: $spacing-lg 0;
            text-align: center;
            font-weight: 800;
        }
        .ag-home-squares {
            .ag-home-square {
                position: relative;
                overflow: hidden;
                background: $expo-blue;
                color: $white;
                padding: 0;
                &.ag-date {
                    width: 100%;
                    text-align: center;
                }
                .ag-square-content {
                    padding: $spacing-xl $spacing-sm;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .ag-square-image-block {
                        min-height: 100px;
                    }
                    .ag-square-icon-block {
                        text-align: center;
                        .ag-icon {
                            width: 90px;
                            margin: 0 auto;
                            padding: $spacing-sm;
                            border-radius: 50%;
                            background-color: rgba(0, 0, 0, 0.1);
                            .ag-square-icon {
                                display: block;
                                text-align: center;
                                
                            }
                        }
                        .ag-icon-title {
                            text-transform: uppercase;
                            margin-top: 10px;
                            line-height: 1.5rem;
                            font-weight: 600;
                            font-size: 1.4rem;
                            @include media-breakpoint-down(xs) {
                                font-size: 1.2rem;
                                line-height: 1.7rem;
                            }
                        }
                        .ag-block-title {
                            text-transform: uppercase;
                            margin-top: 10px;
                            text-align: left;
                            line-height: 2rem;
                            font-weight: 700;
                            @include media-breakpoint-down(xs) {
                                font-size: 1.6rem;
                                line-height: 1.4rem;
                            }
                        }
                    }
                }
                &.ag-clear-box {
                    background: transparent;
                    @include media-breakpoint-down(xs) {
                        display: none;
                    }
                }
            }
        }
    }
    .expo-brief {
        background: $white;
        .ag-flags {
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid $gray-300;
            border-bottom: 1px solid $gray-300;
            padding: $spacing-md 0;
            .ag-flag {
                padding: $spacing-lg $spacing;
                img {
                    width: 60px;
                }
                // &:last-of-type {
                //     border-left: 1px solid $gray-300;
                // }
            }
        }
        .ag-motto {
            text-align: center;
            padding: 60px 100px;
            border-bottom: 1px solid $gray-300;
            @include media-breakpoint-down(xs) {
                padding: 60px 30px;
            }
            h3 {
                @include media-breakpoint-down(xs) {
                    font-size: 1.5rem;
                }
            }
        }
        .ag-hosts {
            display: flex;
            align-items: center;
            justify-content: center;
            .ag-host {
                padding: $spacing-lg;
                img {
                    height: 125px;
                }
            }
        }
        .ag-timer {
            border-left: 1px solid $gray-300;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-down(xs) {
                border-left: 0;
                border-top: 1px solid $gray-300;
            }
            .ag-countdown {
                margin: $spacing-sm auto;
                font-size: 2rem;
                font-weight: 500;
                text-align: center;
                
                >div {
                    float: left;
                    min-width: 120px;
                    margin: 0px 10px;
                    font-size: 4rem;
                    font-weight: 700;
                    line-height: 1.2;
                    color: $expo-blue;
                    @include media-breakpoint-down(xs) {
                        min-width: 50px;
                        margin: 0px 10px;
                        font-size: 2rem;
                    }
                }
                span {
                    position: relative;
                    display: block;
                    font-size: 1rem;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 100;
                    letter-spacing: 1px;
                    @include media-breakpoint-down(xs) {
                        font-size: 0.8rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .expo-attend {
        background-image: url("../img/tractor-aerial-green.jpg");
        background-color: $expo-blue;
        background-size: cover;
        padding: $spacing-xl 0 $spacing-max;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: 0; 
            right: 0;
            top: 0; 
            bottom: 0;
            background: rgba(2, 20, 5, 0.4);
        }
        .ag-why-squares {
            .ag-why-square {
                position: relative;
                width: calc(100% / 3);
                padding-bottom: calc(100% / 3);
                overflow: hidden;
                background: $expo-blue;
                color: $white;
                &.ag-date {
                    width: 100%;
                    text-align: center;
                }
                @include media-breakpoint-down(xs) {
                    width: 50%;
                    padding-bottom: 50%;
                }
                h2 {
                    font-weight: 100;
                    &.text-bold {
                        font-size: 2.5rem;
                    }
                }
                .ag-square-content {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    padding: $spacing-lg;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .ag-square-icon-block {
                        text-align: center;
                        .ag-square-icon {
                            display: block;
                            text-align: center;
                            width: 60px;
                            margin: 0 auto;
                        }
                        .ag-icon-title {
                            text-transform: uppercase;
                            margin-top: 10px;
                            line-height: 16px;
                            font-weight: 700;
                        }
                    }
                }
                &.ag-clear-box {
                    background: transparent;
                    @include media-breakpoint-down(xs) {
                        display: none;
                    }
                }
            }
        }
        .section-heading {
            font-weight: 800;
            text-align: center;
            padding: $spacing-lg 0;
            color: $white;
        }
    }
    
    
}

.ag-geometric-long {
    background-image: url("../img/ag-geometric-long.svg");
    background-color: $expo-blue;
    background-size: cover;
    padding: $spacing-lg 0;
}

#wrapper-navbar{
    margin-bottom: 110px;
    @include media-breakpoint-down(sm) {
		margin-bottom: 90px;
    }
}
.woocommerce {
    .wrapper {
        .content-area {
            max-width: initial;
            .product {
                .product-title {
                    font-weight: 700;
                }
            }
            .price {
                .amount {
                    font-size: 3rem;
                    font-weight: 700;
                }
            }
        }
    }
}
.wrapper {
    padding: 0;
    .content-area {
        max-width: 800px;
        margin: 0 auto;
        padding: 60px $spacing-md;
        ul {
            line-height: 1.5em;
            margin: 5px 0 15px;
            padding: 0;
            li {
                list-style: none;
                position: relative;
                padding: 0 0 0 20px;
                &::before {
                    content: "";
                    position: absolute;
                    background: $expo-blue; 
                    left: 0;
                    top: 9px;
                    height: 3px; 
                    width: 9px;
                }
                &::after { 
                    content: ""; 
                    position: absolute; 
                    background: $expo-blue; 
                    left: 3px; 
                    top: 5px; 
                    height: 11px; 
                    width: 3px;
                }
            }
        }
        .entry-header {
            .entry-title {
                font-weight: 700;
                color: $expo-blue;
            }
        }
        .entry-content {
            h2 {
                font-weight: 600;
                color: $expo-green;
                margin: $spacing 0 $spacing-md;
            }
        }
    }
    
}

.text-bold {
    font-weight: 700;
}

.form-wrapper {
    background: $gray-200;
    .form-row {
        .content-area{
            margin: 0 auto;
        }
    }
}
#wrapper-footer-full {
    background: $expo-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    .ag-footer-logo {
        padding: $spacing-lg;
        text-align: center;
        img {
            max-width: 300px;
        }
    }
    .ag-cta-footer {
        padding: $spacing-lg 0;
        text-align: center;
        @include media-breakpoint-down(xs) {
            padding: $spacing-sm;
        }
        .footer-cta {
            margin: 0 0 $spacing-xs;
        }
        h2 {
            @include media-breakpoint-down(xs) {
                font-size: 2rem;
            }
        }
    }
}
#wrapper-footer {
    background: $expo-dark;
    color: $white;
    padding: $spacing 0;
    .site-footer {
        ul {
            &.quick-links {
                a {
                    color: $expo-lightblue;
                }
            }
            &.social-buttons {
                margin: $spacing-sm 0;
                @include media-breakpoint-down(xs) {
                    margin: $spacing-xl 0;
                }
                li {
                    a {
                        font-size: 20px;
                        line-height: 40px;
                        display: block;
                        width: 40px;
                        height: 40px;
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        transition: all 0.3s;
                        color: #fff;
                        border-radius: 100%;
                        outline: 0;
                        background-color: $gray-800;
                        &:hover {
                            background-color: $expo-yellow;
                        }
                    }
                }
            }
        }
    }
}