// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #03455C; 

$expo-blue: #03455C;
$expo-lightblue: #11ADE2;
$expo-green: #70B044;
$expo-yellow: #F3B117;

$body-font: 'Nunito Sans', sans-serif;
